/* Agrega este media query para estilos en tablets /
@media (max-width: 1024px) {
  .container-features {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-categories {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 20rem);
  }

  .container-blogs {
    grid-template-columns: 1fr;
    height: auto;
  }

  .container-products {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
  }

  .content-card-product h3 {
    font-size: 2rem;
  }

  .card-blog {
    flex-direction: row;
    gap: 1rem;
  }

  .button-group-blog {
    position: static;
    display: none;
  }

  .card-blog .container-img {
    width: 40%;
  }

  .content-blog h3 {
    font-size: 2rem;
  }

  .content-blog p {
    font-size: 1.6rem;
  }

  .btn-read-more {
    font-size: 1.6rem;
  }

  .contact-info ul,
  .information ul,
  .my-account ul {
    display: none;
  }
}

/ Agrega este media query para estilos en dispositivos móviles */
@media (max-width: 768px) {
    .container {
      padding: 0 1rem;
    }
  
    .hero {
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 0;
    }
  
    .customer-support,
    .content-shopping-cart {
      display: none;
    }
  
    .navbar {
      padding: 1rem;
    }
  
    .menu {
      display: none;
    }
  
    .banner {
      height: 40rem;
      padding: 15rem 0;
    }
  
    .content-banner {
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .container-features,
    .container-categories,
    .gallery,
    .container-blogs,
    .container-products {
      grid-template-columns: 1fr;
    }
  
    .card-feature,
    .card-category,
    .card-blog,
    .card-product {
      padding: 1rem;
    }
  
    .card-category {
      height: 15rem;
    }
  
    .content-card-product h3 {
      font-size: 1.8rem;
    }
  
    .content-blog h3 {
      font-size: 1.8rem;
    }
  
    .btn-read-more {
      font-size: 1.4rem;
    }
  }