

@media (max-width: 840px) {
  .container {
    padding: 0 1rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
  }

  .customer-support,
  .content-shopping-cart {
    display: none;
  }

  .navbar {
    padding: 1rem;
  }
  

  .menu {
    display: none;
  }

  .banner {
    height: 40rem;
    padding: 15rem 0;
  }

  .content-banner {
    max-width: 100%;
    padding: 0 1rem;
  }

  .container-features,
  .container-categories,
  .gallery,
  .container-blogs,
  .container-products {
    grid-template-columns: 1fr;
  }

  .card-feature,
  .card-category,
  .card-blog,
  .card-product {
    padding: 1rem;
  }

  .card-category {
    height: 15rem;
  }

  .content-card-product h3 {
    font-size: 1.8rem;
  }

  .content-blog h3 {
    font-size: 1.8rem;
  }

  .btn-read-more {
    font-size: 1.4rem;
  }

  .active-btn {
    background-color: var(--btn-clr);
  }
  .men-label {
    display: flex;
    cursor: pointer;
    order: 2;
    color: white;
  }
  #men-toggle:checked + .navbar  {
    display: flex;
  }
}
